<span class="login100-form-title">
  Sign In
</span>

<form method="POST" action="/register">
 Nickname:<br>
 <input type="text" name="nickname"><br>
 Email:<br>
 <input type="mail" name="email"><br>
 Password:<br>
 <input type="password" name="password"><br>
 Fullname:<br>
 <input type="text" name="fullname"><br><br>
 <input type="submit" value="Submit">
</form>
