<span class="login100-form-title">
  Sign In
</span>

<form method="POST" action="/login">
 Nickname:<br>
 <input type="text" name="nickname"><br>
 Email:<br>
 <input type="password" name="password"><br>
 <input type="submit" value="Submit">
</form>
