<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Don’t have an account?
						</span>

            <a href="login/" class="txt3">
              Sign in
            </a>
						<a href="register/" class="txt3">
							Sign up now
						</a>
					</div>



          <%- page ? (include('../partials/' + page, data ? {data: data} : "")) : "" %>
			</div>
      <br>
      <br>
      <br>

		</div>
	</div>
</body>
</html>
